#about-container {
  margin-bottom: 100px;
}

#stats-container {
  margin-top: 50px;
}

#purpose-container {
  padding: 20px 0;
}

.title-text {
  font-size: 32px!important;
  color: blue;
  margin: 20px 0;
  text-align: center;
}

#mission-statement {
  font-size: 18px;
  color: gray;
  text-align: center;
  font-style: italic;
}

.no-padding {
    padding-right:0;
    padding-left:0;
}


.logo {
  width: 75px;
  max-height: 75px;
  margin: 10px;
  /* padding: 10px; */
}

.even-columns {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.about-stat-row-0:hover{
  background: violet;
  color: white;
}
.about-stat-row-1:hover{
  background: pink;
  color: white;
}
.about-stat-row-2:hover{
  background: limegreen;
  opacity: .7;
  color: white;
}
.about-stat-row-3:hover{
  background: maroon;
  opacity: .7;
  color: white;
}
.about-stat-row-4:hover{
  background: skyblue;
  color: white;
}
.about-stat-row-5:hover{
  background: mistyrose;
  color: darkgray;
}
.about-stat-row-6:hover{
  background: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  #mission-statement {
    font-size: 32px;
  }

  .title-text {
    font-size: 50px !important;
  }

  .logo {
    width: 150px;
    max-height: 150px;
  }

  #about-container{
    margin-bottom: 50px;
  }
}
