#home-image {
	background-size: cover;
	min-width: 100%;
	min-height: 100vh;
	position: fixed;
	left: 0;
	z-index: -1;
	filter: brightness(70%)
}

#navID{
	position: absolute;
	top: 55px;
	left: 20px;
	color: white;
	animation: blinkerText 2s linear infinite;
}

@media only screen and (min-width: 768px)  {
	#navID{
		top: 100px;
		left: 65px;
	}
}


#background-video {
	position: fixed;
	top: 0;
	background-size: cover;
	min-width: 100%;
	min-height: 100vh;
	left: 0;
	z-index: -1;
	filter: brightness(70%)

}

#splash-title {
	margin-top: 35vh;
	font-size: 10vw !important;
	font-weight: bolder;
	color: white;
	text-shadow: 0 0 15px black;
	}

	#splash-subtitle {
		top: 45vh;
		font-size: 3vw !important;
		font-weight: bolder;
		color: white;
		text-shadow: 0 0 15px black;
	}
