/* Button CSS */
.btn {
  border: 1px solid #dee2e6;
  margin-right: 3px;
  margin-bottom: 3px;
}

.btn:focus, .btn-primary:focus {
  box-shadow: none;
}

.btn:hover {
  background-color: #e9ecef;
}

.btn-primary, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #637899;
  border-color: #637899;
}

/* Top Bar */
#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Filter */
#filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

/* Search CSS */
.search {
  margin-bottom: 20px;
}

.search .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #394559;
  border-color: #394559;
}

.search .btn-primary:hover {
  background-color: #4f617c;
  border-color: #4f617c;
}

/* Sort Block CSS */
#sort-block {
  display: flex;
  flex-direction: row;
}

#sort-label {
  padding-top: 6px;
  padding-right: 6px;
}

@media only screen and (max-width: 768px) {
  #sort-label {
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

/* Tag CSS */
.badge {
  color: #fff;
  background-color: #637899;
  cursor: pointer;
  margin-right: 2px;
}

.badge:hover {
  background-color: #4f617c;
}

.badge:active {
  background-color: #394559;
}

.tag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Selector CSS */
.alphabet-selector {
  margin-bottom: 15px;
}

/* Dropdown Filtering */
.dropdown-filter {
  margin-top: 100px;
}

.dropdown-menu {
  height: 200px;
  overflow-y: scroll;
}

/* Issue Tiles CSS */

#issues-list a {
  color: #637899;
}

/* Pagination CSS */
#paging {
  display: flex;
  justify-content: center;
}

.tile-image {
  max-width: 100%;
	box-shadow: 0 5px 20px gray;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.issue-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.page-link, .page-link:hover {
  color: black;
}

.page-item.active .page-link {
  background: #637899;
  border-color: #637899;
  color: #fff;
}

.card {
  display: flex;
}

@media only screen and (max-width: 768px) {
  #issues-container {
    padding-bottom: 60px;
  }

  #filters {
    display: block;
  }
}
