#map-container {
  /* padding-top: 25px; */
  background-color: gainsboro;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 100vh;
}

#background-usa {
  position: absolute;
  left: 0;
  width: 107%;
  top: -30vw;
  z-index: -1;
}

#map-title {
  font-size: 32px;
  color: white;
  text-shadow: 0 0 10px black;
}

.svg-map__location {
  opacity: .75;
}

.svg-map__location:hover {
  opacity: .85;
}

.svg-map__location:focus {
  opacity: 1;
  stroke: gray;
  stroke-width: 2px;
}

#al, #ak, #ar, #az, #fl, #ga, #id, #in, #ia, #ks, #ky, #la, #mi, #ms, #mo, #mt,
#ne, #nc, #nd, #oh, #ok, #pa, #sc, #sd, #tn, #tx, #ut, #wv, #wi, #wy {
  fill: red;
}

#az, #fl, #mi, #pa, #wi {
  fill: #fa8072;
}

#ca, #co, #ct, #de, #hi, #il, #me, #md, #ma, #mn, #nv, #nh, #nj, #nm, #ny, #or,
#ri, #vt, #va, #wa  {
  fill: blue;
}

#co, #mn, #nv, #nh {
  fill: #3895d3;
}

#mapkey {
  padding-top: 10px;
  position: fixed;
  bottom: 10vh;
  width: 90%;
  left: 5%;
}

.mapkey-item{
  stroke:gray;
  stroke-width: 2 ;
  /* opacity:0.8; */
}

#switch-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  #map-container {
    padding-top: 75px;
  }

  h1{
    font-size: 60px !important;
  }

  #mapkey {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    opacity: .9;
    width: auto;
    left: auto;
  }

  #switch-container {
    display: block;
    padding: 10px;
    position: fixed;
    top: 5vw;
    right: 2vw;
  }

  .fullMap {
    position: fixed;
    left: 0;
    top: 4vw;
    height: 90vh !important;
  }

  .fullTitle {
    position: fixed;
    bottom: 0;
    left: 10px;
  }
}
