.nav-active {
  margin-left: 10px;
  color: gainsboro!important;
  font-weight: bolder;
  font-size: 2.2em!important;
  text-decoration: none!important;
}

.navbar-button{
  background: none!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

.navbar-link{
  width: 100%;
  text-align: left !important;
  padding: 10px !important;
  padding-left: 20px !important;
  color: gray;
  font-size: 1.8em;
  padding-bottom: 1.2vh!important;
  padding-top: 1.2vh!important;
  transition: font-size .3s, text-shadow .3s, padding-bottom .2s, padding-top .2s;
}

.navbar-link:hover:not(.nav-active){
  padding-bottom: 2vh!important;
  padding-top: 2vh!important;
  color: white;
  font-size: 3em;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0 0 2px white;
  transition: font-size .3s, text-shadow .3s, padding-bottom .2s, padding-top .2s;
  animation: blinkerText 2s linear infinite;
}

#navbar-icon{
  position: fixed;
  top: 0px;
  left: 5px;
  z-index: 999;
  border-radius: 50% !important;
}

.nav-icon-img{
  z-index: 9;
  transition: filter .2s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-icon-img-bg{
  position: fixed;
  top: 0px;
  left: 23px;
  background-color: dimgray;
  filter: brightness(80%) blur(1px);
  box-shadow: 0 0 15px black inset, 0 0 5px 5px white inset;
  height: 52px;
  width: 90px;
  z-index: 1;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

.nav-icon-img:hover {
  filter: brightness(200%);
  transition: filter .2s;
}

#navbar-container button:focus {
  outline: none;
}

.glowing {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  25% {
    box-shadow: 0 0 15px red;
  }
  50% {
    box-shadow: inherit;
  }
  75% {
    box-shadow: 0 0 15px blue;
  }
}

@keyframes blinkerText {
  50% {
    filter: brightness(150%);
    text-shadow: 0 0 10px white;
  }
}

.mydrawer{
  padding-top:2vh;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.3)) !important;
}

/* Only for Desktop */
@media only screen and (min-width: 768px)  {
  #navbar-icon{
    top: 5px;
    left: 30px;
  }

  .nav-icon-img{
    width: 80px;
    height: 80px;
  }

    #nav-mobile {
        display: none;
    }

    .mydrawer{
      padding-top:2vh;
      box-shadow: none!important;
      width: 22vw!important;
      background: linear-gradient(to right, rgba(0,0,0,.9), rgba(0,0,0,0)) !important;
    }
}
