#counties-image {
	max-height: 300px;
	max-width: 100%;
	padding: 5px;
}

#grid-title{
	font-size: 2em;
	background: white;
	padding: 8px;
	margin: 10px 3px;
	box-shadow: 0 0 2px gray;
	border-radius: 5px;
}

.state-bg {
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	filter: brightness(40%) blur(2px);
}

h5.title{
	text-align: left;
	color: whitesmoke;
}

h5.subtitle {
	color: whitesmoke;
	text-align: left;
	font-size: 1.2em;
}

h5.profile-info {
	text-align: left;
}
