/* NavBar CSS */

#full-navbar{
  display: none;
}

.navbar{
  opacity: .8;
  box-shadow: 0px 0px 10px 5px black;
  color: white;
  padding: 0;
  background-image: linear-gradient(gray, black) !important;
}

.nav-link{
  color: white !important;
  padding: 10px 30px !important;
  font-weight: bold;
  margin: 0;
}

.nav-link:not(.active):hover {
  /*color: skyblue !important;*/
  text-shadow: 0px 0px 20px white;
  box-shadow: 0 0 15px black inset;
}

.active {
  border-radius: 4%;
  background: darkgray;
  box-shadow: 0 0 5px gray;
}

/* Mobile Navbar CSS */

#mobile-nav{
  /*display: block;*/
}

#mobile-nav .navbar-brand, #mobile-nav .nav-link {
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Design Mobile First. Change CSS when width is large for a PC */

@media only screen and (min-width: 768px)  {
  #mobile-nav {
    display: none;
  }

  #full-navbar {
    display: block;
  }

  body{
    margin-top: 50px;
  }
}
