h2{
	margin-top: 50px;
	text-align: center;
	font-size: 24px;
}

#us-map{
	margin-top: 50px;
	width: 100%;
	height: 100%;
	left: auto;
	right: auto;
}

path:hover, circle:hover {
	stroke: white !important;
	stroke-width:0px;
	/*stroke-linejoin: round;*/
	/*fill: purple !important;*/
	box-shadow: 0 0 15px black !important;
	cursor: pointer;
	opacity: 1.0;
}

path, .blue-state, .red-state {
	stroke: white !important;
	stroke-width: 2px;
	stroke-linejoin: round;
}

.red-state {
	fill: red;
	opacity: 0.5;
}

.blue-state {
	fill: blue;
	opacity: 0.5;
}

#path67 {
	fill: none !important;
	stroke: #A9A9A9 !important;
	cursor: default;
}

#info-box {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: #ffffff;
	border: 2px solid #BF0A30;
	border-radius: 5px;
	padding: 5px;
	font-family: arial;
}

@media only screen and (min-width: 768px)  {
	h2 {
		margin-top: 75px;
		font-size: 40px;
	}
}
